.header-color {
  background: white !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    white,
    white
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    white,
    white
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/****************PROBLEMS.JS**************** */
.stormTitle {
  font-size: 64px;
  margin: 0;
  padding-top: 2rem;
}

.stormDescription {
  font-size: 22px;
  margin-top: 0;
  text-align: center;
}

.stormSection {
  margin-left: 5rem;
  margin-right: 5rem;
}

.sectionTitle {
  text-align: center;
  justify-content: center;
}

.ProblemContainer {
  width: 100%;
  background-color: #f9f9f9;
}
