.header-color {
  background: white !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    white,
    white
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    white,
    white
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/****************PROBLEMS PAGE**************** */
.stormTitle {
  text-align: center;
  font-size: 64px;
}

.stormDescription {
  text-align: center;
  font-size: 22px;
  width: 600px;
}
  background: white !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, white, white)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, white)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}


